
@font-face {
  font-family: ft;
  src: url('./fonts/font.ttf');
}

@font-face {
  font-family: ftBold;
  src: url('./fonts/Orbitron-Bold.ttf');
}

html, body
{
  margin: 0;
  height: 100vh;
  user-select: none;
  --webkit-user-select: none;
  background-color: black;
}

canvas{
  height: 100vh;
}

section {
  width: 100%;
  z-index: 2;
  opacity: 0.9;
  padding: 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
}

.about-us-section{
  z-index: 2;
  opacity: 0.9;
  padding: 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  overflow: hidden;
}

.page-section{
  font-size: 2.5em;
  text-decoration: underline;  
  display: none;
  color: white;  
  font-family: ftBold;
}

.page-description{
  font-size: 1em;
  display: none;
  color: white;  
  font-family: ftBold;
}

.services-page{
  display: none;
  font-size: 2.5em;
  text-decoration: underline;
  color: white;  
  font-family: ftBold;
}

.active{
  will-change: opacity;
  opacity: 1;
}

