
@font-face {
  font-family: ft;
  src: url('./fonts/font.ttf');
}

@font-face {
  font-family: ftBold;
  src: url('./fonts/Orbitron-Bold.ttf');
}


html, body
{
  overflow: hidden;
  margin: 0;
  height: 100vh;
  width: 100%;
  position: fixed;
  /*overflow-y: scroll;*/
  overflow-y: hidden;  
  -webkit-overflow-scrolling: touch;  
  user-select: none;
  --webkit-user-select: none;
  background-color: black;
}

canvas{
  height: 100vh;
}

section {
  width: 100%;
  z-index: 2;
  opacity: 0.9;
  padding: 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
}

ul{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50%;
  justify-items: center;
}

.about-us-section{
  z-index: 2;
  opacity: 0.9;
  padding: 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  overflow: hidden;
}

.page-section{
  font-size: 3.5em;
  text-decoration: underline;  
  display: none;
  color: white;  
  font-family: ftBold;
}

.page-description{
  font-size: 1.5em;
  display: none;
  color: white;  
  font-family: ftBold;
  width: 100%;
  text-align: center;
}

.services-page{
  display: none;
  font-size: 2.5em;
  text-decoration: underline;
  color: white;  
  font-family: ftBold;
}

.active{
  will-change: opacity;
  opacity: 1;
}

a{
  color: white;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

a:hover, a:focus {
  background-size: 100% 2px;
}

@media screen and (max-width: 480px) {

  .page-section{
    font-size: 1.7em;
    margin: 10px 0;
    text-decoration: underline;  
    display: none;
    color: white;  
    font-family: ftBold;
  }
  
  .page-description{
    font-size: 1em;
    display: none;
    color: white;  
    font-family: ftBold;
  }
  
  .services-page{
    display: none;
    font-size: 1.0em;
    text-decoration: underline;
    color: white;  
    font-family: ftBold;
  }

  ul{
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25%;
    justify-items: center;
    padding: 0;
  }
  

}
